@charset "UTF-8";
/* CSS Document */

/*---------------------UNIVERSAL----------------------*/

* {
	margin: 0;
	padding: 0px;
}
body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}
html {
	font-size: 100%;
}

/*---------------------MAIN STUCTURE----------------------*/


#background {
	background-image:url(opt-img/test-bg.jpg);
	background-size:cover;
	background-position:top;
	z-index:-20000;
}
	
	
.wrapper {
	max-width: 760px;
	width: 75%;
	margin: 0 auto;
	text-align:center;
	padding-top:5px;
}

.clearfloat {
	clear:both;
}

#nav-bar {
	padding-top:10px;
	padding-bottom:15px;
	height:50px;
	background-color:#fff;
	position:fixed;
	width:100%;
	border-bottom:#666 solid 5px;
}

#nav {
	float:right;
	z-index:10000;
}

#nav-mobile {
	display: none;
}

#intro {
	margin-top:30%;
	padding-bottom:90px;
}

#events, #about, #social, #team {
	padding-bottom:90px;
}

#membeership {
	padding-bottom:90px;
}

#social-bg {
	background-color:#fff;
	padding:10px 10px 3px 10px;
}

#membeership {
	padding-bottom:90px;
}

#contact {
	padding-bottom:75px;
}

#largelogo{
	margin-bottom:90px;
}

#about-mobile {
		display:none;
	}
	
#sponsor-center {
	text-align:center;
	width:100%;
	margin-top:25px;
	min-height:115px;
}

#map {
	width:100%;
	height:250px;
}

#sm-mobile {
			display:none;
		}
		

/*----------------FORM--------------------*/

fieldset {
	border:none;
}

.formField {
	height:40px;
	width:500px;
	width:70%;
	background-color: transparent;
	border:none;
	background-image:url(opt-img/white-trans-bg.png);
	padding-left:10px;
	font-size:1.7em;
	color:#666;
	margin-top:25px;
	}

.submit{
	margin-top:25px;
}

/*---TABS---*/

			.tabs li.nav-li {
				list-style:none;
				display:inline;
				max-width:600px;
				width:33.33%;
				padding:0;
				margin-top:10px;
			}

			.tabs a {
				width:100%;
				display:inline-block;
				text-decoration:none;
				border-bottom:#e0922f 3px solid;
			}

			.tabs a.active {
				border-bottom:#555 3px solid;
			}


/*---------------------TEXT STYLES----------------------*/

h1 {
	font-size:3.5em;
	color:#e0922f;
	padding-bottom:25px;
	padding-top:90px;
}

h2 {
	font-size:1.3em;
	color:#e0922f;
}

h3 {
	font-size:2em;
	color:#555555;
	line-height:25px;
	font-weight:100;
	background-image:url(opt-img/white-trans-bg.png);
	padding:1%;
}



p {
	font-size:2em;
	color:#555555;
	line-height:35px;
	font-weight:100;
	background-image:url(opt-img/white-trans-bg.png);
	padding:5% 2%;
}

.message {
	font-size:2em;
	font-weight:900;
	color:#fff;
	background-color:#e0922f;
	background-image:none;
}

/*---------------------NAVIGATION----------------------*/


ul li.nav-li {
	float:left;
	padding-left:20px;
	padding-top:34px;
}

li.nav-li{
		list-style:none;

}

li.nav-li a:link, li.nav-li a:visited {
	list-style:none;
	color:#414042;
	font-size:1.6em;
	font-weight:200;
	text-align:right;
	text-decoration:none;
}

li.nav-li a:hover, li.nav-li a:active {
	color:#ccc;
}

a:link, a:visited{
	text-decoration:none;
	color:#414042;
}

a:hover, a:active{
	color:#CCC;
}

a.contact {
	color:#e0922f;
}

/*---------------------MOBILE NAVIGATION----------------------*/


ul li.nav-mobile {
	padding-left:20px;
	padding-top:34px;
}

li.nav-mobile{
		list-style:none;

}

li.nav-mobile a:link, li.nav-mobile a:visited {
	list-style:none;
	color:#414042;
	font-size:1.6em;
	font-weight:200;
	text-align:right;
	text-decoration:none;
}

li.nav-mobile a:hover, li.nav-mobile a:active {
	color:#ccc;
}


/*---------------------CLASSES----------------------*/

.orange-border {
	border-bottom:#e0922f 3px solid;
	height:5px;
	margin-left:10%;
	margin-right:10%;
}

.gray-line {
	border-bottom:#666 solid 5px;
	height:0px;
	background-color:#666;
}


.bg{
	background-image:url(opt-img/white-trans-bg.png);
	padding: 10px 20px;
}

/*---------------------SOCIAL MEDIAS----------------------*/


#ig, #fb, #in, #tw{
	background-size:auto;
	background-position: 0px 0;
	height: 30px;
	width: 23px;
	float: left;
	margin: 0px 6px 0px 6px;
	margin-top:25px;
}

.email{
	background-size:auto;
	background-position: 0px 0;
	height: 30px;
	width: 23px;
	margin-top:5px;
	}

#ig{
	background-image:url(opt-img/sm-icons/instagram.png);
}

#fb{
	background-image:url(opt-img/sm-icons/facebook.png);
}

#in{
	background-image:url(opt-img/sm-icons/linkedin.png);
}

#tw{
	background-image:url(opt-img/sm-icons/twitter.png);
	margin-left:8px;
}

.email{
	background-image:url(opt-img/sm-icons/email.png);
}

#ig:hover, #ig:active, #fb:hover, #fb:active, #in:hover, #in:active, #tw:hover, #tw:active, .email:hover, .email:active {
	background-position: 23px 0;
}





/*---------------------MEDIAQUARIES----------------------*/

    /* Overly large screens */
    @media (min-width: 1100px) {
		
		#intro {
			margin-top:30%;
		}
	}
	
	/* For life */
    @media (max-width: 960px) {
		
		
		#nav-mobile {
			float: right;
			display: inherit;
		}
		#nav {
		display: none;
		}
		li ul {
		position:absolute;
		left:-10000px;
		}
		li li {
		float:none;
		}
		li:hover ul {
		display:block;
		left:0;
		background-color:#fff;
		width:100%;
		border-bottom:#666 solid 5px;
		float:none;
		}
		li:visited ul {
			display:block;
		}
		h2{
			font-size:1.3em;
		}
		
	}
   
    /* For tablets & smart phones */
    @media (max-width: 768px) {
		
		#background {
			background-image:url(opt-img/tablet-bg.jpg);
			background-size:cover;
			background-position:top;
		}
		.wrapper {
			max-width:75%;
		}
		#intro {
			margin-top:43%;
		}
		p {
			padding:0;
			background-image:none;
		}
		.container {
        width: 728px;
      }
		
	}
	
	/* For life */
    @media (max-width: 625px) {
	
	#tabs{
		display:none;
		}
	#about-mobile {
		display:inherit;
	}
		
	.container {
        width: auto
      }
	}
	
	/* For mobile */
    @media (max-width: 491px) {
		
		#intro {
			margin-top:140px;
		}
		p {
			font-size:1.6em;
			line-height:24px;
		}
		#sm-above760 {
			display:none;
		}
		#sm-mobile {
			display:inherit;
			margin-left:27%;
		}
		
	}
